{% extends "site_base.html" %}

{%block pagetitle %}Django + HAML + SCSS + CoffeeScript + jQuery &mdash; Poll app{% endblock%}

{% block header %}
%h1
  %a(href="/polls" style="text-decoration:none")
    Polls Demo
{% endblock %}

{% block sidebar %}
%h3 Recent Polls
%ul

{% for poll in recent_polls %}

%li 
  %a(href="{% url dcc.views.poll_view poll.pk %}") {{ poll.question|truncatewords:"5"}}

{% empty %}

%li No polls yet

{% endfor %}

{% endblock %}
